
html{
    scroll-behavior: smooth;
  }
  
html, body {
  position: relative;
  overflow-x: hidden; 

  }

/*For Debug Boundary
*{
    outline: solid #f00 1px !important;
    background: #000 !important;
    color: #fff !important;
} */

/*For disable cellphone functions 
a {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}*/

body { 
  -webkit-touch-callout: none !important; 
  background-color: black;
  }